$color-text-default: #efeeed;
$color-text-focus: #333333;
$color-border-focus: #333333;
$color-border-default: #efeeed;

$color-error: #eb4a46;

$color-button-bg: #00c8b3;
$color-button-border: #01a393;
$color-button-hover-opacity: 0.7;
$color-button-disabled-text: #dddcdc;
$color-button-disabled-bg: #f6f6f6;

$primary-action: #64b5f6;
$primary-action-hover: #42a5f5;
$warning-action: #ffb74d;
$warning-action-hover: #ffa726;
$danger-action: #ef9a9a;
$danger-action-hover: #e57373;