<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()" autoComplete="off">
    <h3>Cadastrar novo usuário</h3>
    <div class="input-group" [class.filled]="form.get('name')?.value" [class.focused]="focused.name">
      <input id="name" formControlName="name" type="text" (focus)="focused.name = true" (blur)="focused.name = false" />
      <label for="name">Nome completo [sem abreviações]</label>
    </div>
    <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="error-message">
      Nome inválido
    </div>

    <div class="input-group" [class.filled]="form.get('cpf')?.value" [class.focused]="focused.cpf">
      <input id="cpf" formControlName="cpf" type="text" (focus)="focused.cpf = true" (blur)="focused.cpf = false" cpfMask />
      <label for="cpf">CPF</label>
    </div>
    <div *ngIf="form.get('cpf')?.invalid && form.get('cpf')?.touched" class="error-message">
      CPF inválido
    </div>

    <div class="input-group" [class.filled]="form.get('phone')?.value" [class.focused]="focused.phone">
      <input id="phone" formControlName="phone" type="text" (focus)="focused.phone = true"
        (blur)="focused.phone = false" phoneMask />
      <label for="phone">Telefone</label>
    </div>
    <div *ngIf="form.get('phone')?.invalid && form.get('phone')?.touched" class="error-message">
      Telefone inválido
    </div>

    <div class="input-group" [class.filled]="form.get('email')?.value" [class.focused]="focused.email">
      <input id="email" formControlName="email" type="email" (focus)="focused.email = true"
        (blur)="focused.email = false" />
      <label for="email">Email</label>
    </div>
    <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="error-message">
      Email inválido
    </div>

    <button type="submit" [disabled]="form.invalid" [ngClass]="{'loading': isLading}">
      <ng-container *ngIf="!isLading">
        Cadastrar 
      </ng-container>
    </button>
  </form>

</div>